body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* hilangkan scrollbar */
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #111;
  color: #00bcd4;
  padding: 20px;
  z-index: 10;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #00bcd4;
  text-decoration: none;
}

.content {
  margin-left: 200px; /* biar map tidak ketiban sidebar */
  height: 100%;
  overflow: hidden;
  position: relative;
}

#map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  cursor: grab;
  max-width: none; /* wajib, biar nggak auto resize */
  max-height: none;
}

