#map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* supaya nggak keluar dari layar */
  z-index: -1; /* tetap jadi background */
}

#map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.2s ease-out;
  cursor: grab;
}

#map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* supaya nggak keluar dari layar */
  z-index: -1; /* tetap jadi background */
}

#map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.2s ease-out;
  cursor: grab;
}
