body {
  background: url("/varethia-map/Assets/varethia.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  color: #eee;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 110px;
  background-color: #1c1c1c;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.sidebar h2 {
  color: #4fc3f7;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: #333;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar a:visited {
  color: inherit;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: none;
  color: #4fc3f7;
}

.content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}
